hr.kt-theme-hr {
    margin: 20px 0;
}
#customize-control-kadence_starter_import_export .templify-import-button {
    margin-top: 10px;
}
#customize-control-kadence_starter_import_export .templify-import-button.components-button.is-destructive {
    border: 1px solid;
}
#customize-control-kadence_starter_import_export .templify-import-import-file {
    width: 100%;
    margin: 10px 0;
    padding: 10px 0;
    font-size: 13px;
}
#customize-control-kadence_starter_import_export .templify-import-uploading {
    display: none;
    margin: 10px 0;
    padding: 10px;
    font-size: 12px;
}
